[submodule "src/libraries/dmm-i386"]
	path = src/libraries/dmm
	url = https://github.com/awooos/dmm.git
[submodule "src/libraries/tinker"]
	path = src/libraries/tinker
	url = https://github.com/awooos/tinker.git
