[project]
name        = awooos
scm         = git(fetch_submodules=True)
version     = {{scm.tag_or_revision}}-{{build.type | lowercase}}
categories  =
    executables
    libraries
build_root  = ./src
build_types = test,debug,release

[aliases]
kernel = executables.kernel
iso    = files.iso

[build.defaults]
platform    = i386
build_type  = debug

[tools]
archiver    = ar
assembler   = nasm
c_compiler  = clang
linker      = ld

[global]
c_flags =
    -std=c11 -pedantic-errors -gdwarf-2 -nostdinc -ffreestanding
    -fno-stack-protector -fno-builtin -fdiagnostics-show-option
    -Werror -Weverything -Wno-cast-qual -Wno-missing-prototypes -Wno-vla
ld_flags =
as_flags =

[platform:i386]
c_flags     = -m32
ld_flags    = -melf_i386
as_flags    = -felf32

[artifacts:.c]
# artifacts.c_includes is an array which contains
# "-I /path/to/:category/:artifact_name/include" for each artifact.
command =
    {{tools.c_compiler}} -c {{global.c_flags}} {{platform.c_flags}}
      {{artifacts.c_includes}} -o {{name}}.o {{name}}.c

[artifacts:.asm]
command = {{tools.assembler}} {{platform.asm_flags}} -o {{name}}.o {{name}}.asm

[categories:libraries]
requires =
    artifacts.{{name}}.c
    artifacts.{{name}}.asm
command = {{tools.archiver}} rcs {{output_file}} {{build.artifacts}}

[categories:executables]
require =
    libraries
command =
    {{tools.linker}} -o {{artifact.name}}.exe -Lsrc/libraries
      {{linker_flags}} -T src/link-{{platform}}.ld
      {{artifacts.asm}} {{artifacts.c}} {{category.libraries.artifacts}}

# TODO: This feels a bit clumsy, to put it mildly.
[file:isofs]
copy =
    assets/isofs/               isofs/
    {{categories.executables}}  isofs/system/

[files:iso]
require =
    executables:kernel
    file:isofs
command =
    xorriso -as mkisofs -boot-info-table -R -b boot/grub/stage2_eltorito
    -no-emul-boot -boot-load-size 4 -input-charset utf-8
    -o {{project.name}}-{{project.platform}}-{{project.build_type}} isofs/
