[project]
name        = awooos
scm         = git(fetch_submodules=True)
version     = {{scm.tag_or_revision}}-{{build.type | lowercase}}
categories  =
    executables
    libraries
build_root  = ./src
build_types = test,debug,release

[aliases]
all    = kernel
kernel = executables.kernel
iso    = files.iso

[tools]
ar = ar
as = nasm
cc = clang
ld = ld

[DEFAULT]
build.platform = i386
build.type     = debug

flags.cc =
    -std=c11 -pedantic-errors -gdwarf-2 -nostdinc -ffreestanding
    -fno-stack-protector -fno-builtin -fdiagnostics-show-option
    -Werror -Weverything -Wno-cast-qual -Wno-missing-prototypes -Wno-vla
flags.ld =
flags.as =
flags.qemu =

[platform:i386]
tools.qemu = qemu-system-i386

flags.cc = -m32
flags.ld = -melf_i386
flags.as = -felf32
flags.qemu =
    -no-reboot -device isa-debug-exit,iobase=0xf4,iosize=0x04

[artifacts:.c]
# artifacts.c_includes is an array which contains
# "-I /path/to/:category/:artifact_name/include" for each artifact.
command =
    ${tools.cc} -c ${flags.cc} ${platform:flags.cc}
      {{artifacts.c_includes}} -o {{name}}.o {{name}}.c

[artifacts:.asm]
command = {{tools.as}} {{platform.flags.as}} -o {{name}}.o {{name}}.asm

[categories:libraries]
requires =
    artifacts.{{name}}.c
    artifacts.{{name}}.asm
command = {{tools.ar}} rcs {{output_file}} {{build.artifacts}}

[categories:executables]
require =
    libraries
command =
    ${tools.ld} -o ${artifact.name}.exe -Lsrc/libraries
      ${flags.ld} -T src/link-${platform}.ld
      {{artifacts.asm}} {{artifacts.c}} {{category.libraries.artifacts}}

# TODO: This feels a bit clumsy, to put it mildly.
[file:isofs]
copy =
    assets/isofs/               isofs/
    {{categories.executables}}  isofs/system/

[file:iso]
require =
    executables:kernel
    file:isofs
command =
    xorriso -as mkisofs -boot-info-table -R -b boot/grub/stage2_eltorito
      -no-emul-boot -boot-load-size 4 -input-charset utf-8
      -o ${project:name}-${build.platform}-${build.type}.iso isofs/

[task:qemu]
require =
    file:iso
# Not sure about the {{artifacts.file.iso}} thing.
command =
  ${platform:tools.qemu} ${flags.qemu} ${platform:flags.qemu} -vga std
    -serial stdio -cdrom {{artifacts.file.iso}}
