[
  {
    "name": "hal",
    "origin": "./src/libraries/hal",
    "initializeArgs": [],
    "run": false
  },
  {
    "name": "dmm",
    "origin": "https://github.com/awooos/dmm.git#master",
    "initializeArgs": [],
    "run": false
  },
  {
    "name": "ali",
    "origin": "https://github.com/awooos/ali.git#master",
    "initializeArgs": ["&dmm_malloc", "&dmm_free", "&dmm_realloc"],
    "run": false
  },
  {
    "name": "flail",
    "origin": "https://github.com/awooos/flail.git#master",
    "initializeArgs": ["\"tinker-generated kernel\"", "&print"],
    "run": false
  }
]
